@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0f172a;
    max-height: 100%;
   
}

#loader {
    --size: 40px;
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #020617;
}
   
#box {
    width: var(--size);
    height: var(--size);
    background: #0270e1;
    animation: rotate 2s infinite;
}
   
#box:nth-child(2) {
    animation-delay: 0.25s;
}
   
#box:nth-child(3) {
    animation-delay: 0.5s;
}
   
@keyframes rotate {
    50% {
     transform: rotate(180deg)
    }
}


@layer utilities{
    .pause{
        animation-play-state: paused;
    }
}

/*#colorss{
   
    background: rgb(15,23,42);
    background: linear-gradient(323deg, rgba(15,23,42,1) 14%, rgba(2,6,23,1) 48%, rgba(3,7,18,1) 90%);
}*/

#name{
    
    color: linear-gradient(56deg, rgba(36,23,115,1) 13%, rgba(50,82,171,1) 47%, rgba(35,43,166,1) 74%);
    
}


@media (max-width: 600px) {
   

    #header-name{
        font-size: 1.2rem;
        line-height: 1rem;
    }

    #header-img{
        width: 3rem;
    }

    #header-btn{
        font-size: 18px;
        line-height: 1.25rem;
    }

    #myname-positions{
        position: relative;
        right: 1rem;
    }

    #myName-hither{
        font-size: 12px;
    }

    #myName-name{
        font-size: 1.50rem;
        line-height: 20px;
    }

    #myName-introduction{
        font-size: 15px;
        margin-bottom: 4px;
    }
    #myName-btn{
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 8px;
        line-height: 8px;
        margin-bottom: 8px;
    }

    #myName-icons{
        width: 15px;
        height: 15px;
    }
    #myName-icons2{
        width: 15px;
        height: 15px;
    }

    #myName-icons3{
        width: 15px;
        height: 15px;
    }
    #aboutMe-possition{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #aboutMe-img{
        width: 350px;
        margin-bottom: 25px;
    }

    #colorss{
      
        width: 85%;
    }

    #aboutMe{
        font-size: 25px;
        line-height: 30px;
    }
    #aboutMe-paragraph{
        font-size: 15px;
        line-height: 23px;
    }

    #myProject-h1{
        font-size: 2rem;
        line-height: 1;
    }

    #myProject-1{
        width: 48rem;
        height: 23rem;
        margin-left: 0rem;
    }
    #myProject1-title{
        font-size: 20px;
        line-height: 30px;
    }
    #myProject1-description{
        font-size: 14px;
    }
    #myProject1-reactjs{
        padding-left: 4px;
        padding-right: 4px;
        font-size: 14px;
    }

    
}